-e git+https://github.com/krokofant/apk-signature-verify.git@215b9a86979eb8e2a9ff97b7a8758e70ee361345#egg=apkverify
asn1crypto==0.24.0
autopep8==1.4.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
-e git+https://github.com/Unbrick/jodel_api.git@be12ddcabd59b9fcd9ad08c1ff703a05b1d08b00#egg=jodel_api
lxml==4.6.3
MarkupSafe==1.1.0
mock==2.0.0
pbr==5.1.1
protobuf==3.6.1
pyaxmlparser==0.3.13
pycodestyle==2.4.0
r2pipe==1.2.0
requests==2.21.0
six==1.12.0
urllib3==1.24.2
varint==1.0.2
Werkzeug==0.15.3
